* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*
        allows for smooth scrolling especially when links are clicked and has 
        to go to a particular section of the page 
    */
    scroll-behavior: smooth;
}

:root {
    --background-blur: 20px;
    --consistant-padding: 1.2em;
    --grid-width-height-container-images: 100%;
    --grid-gap: .5em;
    --font-size-title: clamp(1rem, 5vw, 3rem);
    --font-sub-text: clamp(.5rem, 5vw, .9rem);

    --box-shadow: 0 0 15px black;
    --border-radius: 20px;
    
}

/* ======================================== Navigation ========================================= */
.header {
    display: flex;
    justify-content: center;
    z-index: 100;
}

#nav-bar {
    background-color: hsl(0, 0%, 0%);
    backdrop-filter: blur(var(--background-blur));
    -webkit-backdrop-filter: blur(var(--background-blur));
}

.nav-button {
    order: 2;
    display: inline-block;
    width: 35px;
    height: 22px;

    background: none;
    border: none;
   
}

.navigation-main {
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-primary {
    position: fixed;
    right: -1000px;
    top: 55px;
    height: 100vh;
    padding: 1em;

    width: 100vw;

    backdrop-filter: blur(var(--background-blur));
    -webkit-backdrop-filter: blur(var(--background-blur));

    transition: right .7s ease-out;
    font-size: var(--font-sub-text);

    background-color: hsla(0, 0%, 0%, 0.829);
}

.navigation-primary ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2em;
    width: 100%;
    margin-top: 5em;
}

.navigation-primary ul > li > a {
    display: block;
    padding-bottom: .6em; 
    border-bottom: 2px solid white;
}


.navigation-primary--right-position-transitions {
    right: 0;
}

.brand-logo {
    order: 2;
}

.sign-up {
    order: 3;
    width: 19px;
    height: 19px;
}

.nav-icon {
    width: 90%;
    height: 80%;
}

.navigation-store__ecomerce-cart {
    display: flex;
    gap: .5em;
}

.navigation-background--black {
    background-color: black;
    color: white;
}

.navigation-background--default {
    background-color: none;
    color: white;
}


@media (min-width: 790px) {
    .navigation-primary ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 0;
        margin-top: 0;
    }

    .navigation-primary ul > li > a {
        display: inline;
        padding-bottom: .5em; 
        border-bottom: 2px solid hsla(0, 0%, 100%, 0);
    }
    

    .navigation-primary, #nav-bar  {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    
    .nav-button {
        display: none;
    }

    .nav__ul-two {
        display: flex;
        justify-content: space-between;
        gap: 2em; 
    }

    .nav__ul-two > li a {
        border-bottom: 1px solid hsla(0, 0%, 100%, 0);
        padding-bottom: 0em;
        transition: border-bottom .2s ease-in-out, padding-bottom .2s ease-in-out;
    }

    .nav__ul-two > li a:hover {
        padding-bottom: .2em;
        border-bottom: 1px solid white;
    }

    .navigation-primary {
        position: relative;
        display: block;
        top: 0;
        right: 0;
        height: 0;
        padding: 0;
        transition: none;
        width: 500px;
    }

    .navigation-primary--right-position-transitions {
        right: 0;
    }

    .brand-logo {
        order: 1;
    }

    .navigation-primary {
        order: 2;
    }

    .navigation__store {
        order: 3;
    }
}


/* ======================================== Main ========================================= */

.main {
    position: relative;
}

/* ======================================== Hero Section ========================================= */

.hero-section {
    height: 100vh;

    background-image: url("../../assets/images/home-page/hero-section/images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.411);
    background-blend-mode: color-burn;
    

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero-section__heading {
    position: relative;
    
    text-align: center;
    width: 100%;
    padding: .2em;
    text-shadow: 1px 1px 10px black;
}



@media (min-width: 950px) {
    .hero-section__heading {
        top: 0;
        font-size: var(--font-size-title);
        width: 80%;
    }
}

/* ======================================== Our-Story Section ========================================= */

.our-story {
    justify-content: center;
    align-content: center; 
    gap: 2em;
    padding-top: var(--consistant-padding);
}

.our-story__image-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas: 
    "img-1 img-1 img-1 img-2 img-2 img-2 img-4 img-4 img-4 img-4"
    "img-1 img-1 img-1 img-3 img-3 img-3 img-4 img-4 img-4 img-4"
    "img-1 img-1 img-1 img-3 img-3 img-3 img-5 img-5 img-5 img-5"
    ;
    gap: var(--grid-gap);
    height: 350px;
    padding-bottom: var(--consistant-padding);
}


.our-story__image {
    width: var(--grid-width-height-container-images);
    height: var(--grid-width-height-container-images);
    object-fit: cover;
    border-radius: 5px;
    order: 1;
}

.our-story__image-1 {
    grid-area: img-1;
}

.our-story__image-2 {
    grid-area: img-2;
}

.our-story__image-3 {
    grid-area: img-3;
}

.our-story__image-4 {
    grid-area: img-4;
}

.our-story__image-5 {
    grid-area: img-5;
}

.our-story__text-section {
    order: 2;
}

.our-story__text-section, .our-story__text-section-two,
.our-story__text-section-three {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-story-text-section__heading {
    padding-bottom: 16px;
    font-size: var(--font-size-title);
    text-align: center;
}


.our-story__text-section-two {
    order: 4;
    
}

.our-story__image-section-two {
    order: 3;
}

.our-story__text-section-two,
.our-story__image-section-two {
    padding-bottom: var(--consistant-padding); 
}

.our-story__image-section-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-template-areas: 
    "img-1 .... ...."
    "img-1 img-3 ...."
    "img-1 img-3 img-2"
    "img-1 img-3 img-2"
    "img-1 img-3 img-2"
    ;
    
    gap: var(--grid-gap);
    height: 450px;

    padding-top: var(--consistant-padding);

}

.our-story-section-two__img, .our-story-section-three__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
}

.our-story-section-two__img-1 {
    grid-area: img-1;
}

.our-story-section-two__img-2 {
    grid-area: img-2;
}

.our-story-section-two__img-3 {
    grid-area: img-3;
}

.our-story__text-section-three {
    order: 5;
    
    padding-top: var(--consistant-padding);
    padding-bottom: var(--consistant-padding);
}

.our-story__image-section-three {
    padding-top: var(--consistant-padding);
    padding-bottom: var(--consistant-padding);
    order: 4;
    height: 250px;
}

@media (min-width: 970px) {
    .our-story__image-section {
        height: 450px;
    }

    .our-story-text-section__paragraphy {
        width: 450px;
    }

    .our-story__text-section-two {
        order: 3;
    }

    .our-story__image-section-two {
        order: 4;
    }

    .our-story__image-section-three {
        height: 450px;
    }
}

/* ======================================== Our finest works ========================================= */

.our-finest-works {
    background-color: hsl(0, 0%, 76%);
    height: auto;
    
}

.our-finest-works__heading, .our-services__heading {
    text-align: center;
    padding-top: var(--consistant-padding);
    padding-bottom: var(--consistant-padding);
}

.our-finest-works__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding-bottom: var(--consistant-padding);
}

.our-finest-works-ul__card {
    background-color: white;
    width: 385px;

    display: flex;
    flex-direction: column;
  
    align-items: center;
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    box-shadow: var(--box-shadow);
}


.div__image {
    width: 100%;
    height: 300px;
    background-image: url("../images/home-page/our-finest-works/gold-abstract-effect-background-desktop-wallpaper_528914-3653.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.1);

    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.our-finest-works-ul-card__heading {
    width: 100%;
}

.our-finest-works-ul-card__para {
    font-size: var(--font-sub-text);
}

.our-finest-works-ul-card__heading, .our-finest-works-ul-card__para {
    padding: .6em;
}

.our-finest-works-ul-card__btn {
    margin-bottom: var(--consistant-padding);
    padding: .7em;
    background-image: linear-gradient(25deg, hsl(46, 100%, 40%), hsl(56, 100%, 82%), hsl(34, 100%, 50%));
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
    border: 1px solid hsl(46, 100%, 50%);
    cursor: pointer;
}

@media (min-width: 760px) {
    .our-finest-works__ul {
        width: 450px;
    }
}

/* ======================================== Meet The Team ========================================= */


.team-members-section__heading {
    text-align: center;
    padding: var(--consistant-padding);
}

.team-members__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-filter: grayscale();
    filter: grayscale();
    
}

.team-members-profile {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}

@media (min-width: 775px) {
    .team-members__ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
}

/* ======================================== Testamonial section ========================================= */

.testamonials-section, .testamonials-section__heading {
    padding: var(--consistant-padding) 0;
}

.testamonials-section__heading {
    text-align: center;
}

.testamonial-section__ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.testamonial-section__ul {
    padding: var(--consistant-padding);
    overflow-x: auto;
}

.testamonial-section__ul > li {
    list-style-type: none;
    
    background-color: hsl(0, 0%, 84%);
    border-radius: 20px;

    width: 350px;
    padding: 1.5em;
}

.testamonial-section-list__heading, .testamonial-section-list__para {
    font-size: var(--font-sub-text);
    text-align: center;
    
}

.testamonial-section__list-item {
    padding: .5em;
}

@media (min-width: 760px) {
    .testamonial-section__list-item {
        padding: 5em;
    }

    .testamonial-section__ul > li{
        width: 570px;
    }
}

.testamonial-section-profiles {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.testamonial-image-section {
    display: flex;
    justify-content: center;
    padding-top: var(--consistant-padding);
}

/* ======================================== Our Services section ========================================= */


.our-services__ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5em;
}

@media (min-width: 850px) {
    .our-services__ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 750px) {
    .our-services__ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1280px) {
    .our-services__ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

.our-services__ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our-services__card {
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.our-services-card__image {
    width: 100%;
    height: 350px;
    position: relative;
    top: -60px;
    aspect-ratio: 1;
    position: relative;
    top: 0;
    border-radius: var(--border-radius);
    filter: contrast(1.2);

   
}

.our-services__card-para, .our-services__card-heading {
    padding: .5em;
}

.our-services__card-heading {
    font-size: 1.5rem;
    text-align: center;
}

.our-services__card-para {
    font-size: .7rem;
    text-align: center;
    width: 80%;
}

@media (min-width: 750px) {
    .our-services__card-heading {
        font-size: 2rem;
    }

    .our-services__card-para {
        font-size: .8rem;
    }
}

.our-services__link {
    display: block;
    text-align: center;
    padding: 1em;
}


/* ======================================== Our News Letter Section ========================================= */

.news-letter-section__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
    gap: 1em;
}

.news-letter-section-form__label {
    font-size: var(--font-size-title);
    text-align: center;
}

.news-letter-section-form__input {
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 2em;
    padding: 1.1em;
    font-size: 1.2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: var(--font-sub-text);
}

.news-letter-section-form__btn {
    padding: 1em;
    max-width: 120px;
    font-size: var(--font-sub-text);
}

/* ======================================== footer Section ========================================= */

.footer {
    background-color: black;
    width: 100%;
}

.footer-ul__item {
    font-size: clamp(.55rem, 2vw, .9rem);
    padding: 2em .2em;
}



.footer-ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5em;
}

.footer__luxura-logo-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__social-links {
    display: flex;
    gap: 1em;
    order: 2;
}

.footer__luxura-link {
    font-size: 2em;
    order: 1;
    padding-bottom: .6em;
}


.footer__main-links {
    display: flex;
    flex-direction: column;
}

.footer__main-links > a, .fa-brands {
    color: white;
    text-decoration: none;
}

.footer__main-links > a {
    padding: .4em 0;
}

@media(min-width: 760px) {
    .footer-ul__item {
        padding: 2em;
    }

    .footer-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 950px) {
    .footer-ul__item {
        padding: 2em;
    }

    .footer-ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.footer-item__heading {
    padding-bottom: 1em;
}
