@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* ================ if web is dark color ============ */
    --text-color-pure-white: white;
    --text-color-white-ver-2: hsla(0, 0%, 100%, 0.849);
    --text-color-white-ver-3: hsla(0, 0%, 100%, 0.733);
    --text-color-white-ver-4: hsla(0, 0%, 100%, 0.733);

    /* ================ if web is white color =============== */
    --text-color-pure-black: black;
    --text-color-pure-black-ver-2: hsl(0, 0%, 9%);
    --text-color-pure-black-ver-3: hsl(0, 0%, 15%);
    --text-color-pure-black-ver-4: hsl(0, 0%, 41%);

    --font-weight: 400;

    --font-size-btn: clamp(0.5rem, 1vw + 0.2rem, .7rem);
}

/* =================================== displays ==================================== */

.display-hidden {
    display: none;
}

.display-show {
    display: block;
}

/* ========= For desktop ========== */

@media (min-width: 760px) {
    .display-hidden, .display-show {
        display: block;
    }
}



/* =================================== Font-Face ==================================== */

/* font-weight: Use a value from 100 to 900 to make font bolder */

.montserrat-paragraph {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-style: normal;
  letter-spacing: .9px;
}

@font-face {
    font-family: Garamond;
    src: url("../fonts/title-font/EBGaramond-Medium.woff");
}

.garamond-title {
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* =================================== Text Color ===================================== */
.text-color--white {
    color: var(--text-color-pure-white);
}

.text-color--dark {
    color: var(--text-color-pure-black);
}

.text-color--dark-2 {
    color: var(--text-color-pure-black-ver-4);
}

.text-color--white-2 {
    color: var(--text-color-white-ver-2);
}

/* =================================== Weights ===================================== */
.font-weight-800 {
    --font-weight: 800;
    font-weight: var(--font-weight);
}

.font-weight-500 {
    --font-weight: 500;
    font-weight: var(--font-weight);
}

/* =================================== Text Alignment ===================================== */
.text-alignment--center {
    text-align: center;
}

/* =================================== Layout ===================================== */

.fixed-width-layout {
    width: 1250px;
    margin-inline: auto;
}

@media (max-width: 1254px) {
    .fixed-width-layout {
        width: 90%;
    }
}


.two-col-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 760px) {
    .two-col-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.two-col-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* =================== Buttons ===================== */
.button--effect-pointer {
    cursor: pointer;
}

.button-font--sm {
    --font-weight: 500;
    font-weight: var(--font-weight);
    font-size: var(--font-size-btn);
}

/* =================== font-size ===================== */


/* =================== Unique-Grids ===================== */

.grid--three-col-two-row-ver-1, 
.grid--three-col-two-row-ver-2,
.grid--three-col-two-row-ver-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 760px) {

    .grid--three-col-two-row-ver-1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "img-1 img-2 img3"
        "img-1 img-4 img-5"
        ;
    }

    .grid--three-col-two-row-ver-2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "img-2 img-1 img3"
        "img-4 img-1 img-5"
        ;
    }

    .grid--three-col-two-row-ver-3 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "img-2 img-3 img1"
        "img-4 img-5 img-1"
        ;
    }
}

.unique-grid--1 {
    border: 1px solid hsl(0, 0%, 60%);
    display: grid;
}






.flex--space-between {
    display: flex;
    justify-content: space-between;
}

.flex--space-between--2em--gap {
    display: flex;
    gap: 2em;
}

.flex--align-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-all--center-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--align-center-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.gap-1em {
    gap: 1em;
}

.gap--2em {
    gap: 2em;
}

.gap--1-1em {
    gap: 1.1em;
}

.gap--1-4 {
    gap: .5em;
}

.flex--col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

/* ================================== Lists and links =========================================== */

.ul--list-style--no-hyperlink > li {
    list-style-type: none;
}

.no-hyperlink, .ul--list-style--no-hyperlink > li a {
    text-decoration: none;
}

/* ================================== responsive-images =========================================== */

.image-is--responsive {
    width: 100%;
    height: auto;
}

.div--spacing {
    height: 90px
}

/*  ================================== Responsive image =============================== */
.image--resize {
    display: block;
    width: 100%;
}

.border-decore {
    border-radius: 50%;
    color: white;
    background-color: hsl(192, 100%, 50%);
    padding: .2em;
}

.border--right {
    border-right: 1px solid hsl(0, 0%, 44%);
}

.border--top {
    border-top: 1px solid hsl(0, 0%, 44%);
}


/* =================================== padding ========================================== */

.padding-1em {
    padding: 1em;
}

/* ======================================== Card ========================================= */

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 hsl(0, 0%, 87%);
}

/* =================================== Animations ===================================== */

/* Animation on load

    div {
        animation: come-from-left linear 1s;
        animation-delay: 1s;
    }
*/

/*
    div {
        animation: fade-in linear both;
        animation-timeline: view();
        animation-range: cover 0% cover 45%;

        -moz-animation: fade-in linear both;   
    }
*/


@keyframes fade-in {
    from {
        opacity: 0;
        /* scale: x y*/
        scale: 0 1;
    }
    to {
        opacity: 1;
        scale: 1 1;
    }
}

@keyframes come-from-left {
    from {
        opacity: 0;
        position: relative;
        left: -1000px;
    }
    to {
        opacity: 1;
        left: 1000px;
    }
}

@keyframes animate-in-and-out {
    /* Element enter from bottom*/
	entry 0%  {
		opacity: 0; 
        transform: translateY(100%);
	}
	entry 100%  {
		opacity: 1; 
        transform: translateY(0);
	}

    /* Element exit from top*/
	exit 0% {
		opacity: 1; 
        transform: translateY(0);
	}
	exit 100% {
		opacity: 0; 
        transform: translateY(-100%);
	}
}


