*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title-font-size: clamp(1rem, 5vw, 2rem);
    --sub-font-size: clamp(.5rem, 2vw, .7rem);

    --subfont-color: hsl(0, 0%, 61%);
    --top-dashborad-border-color: hsl(0, 0%, 81%);
    --content-fixed-width: 70em;
    --side-nav-background-color: hsl(0, 0%, 96%);
}

.font-size--title {
    font-family: var(--title-font-size);
}

.font-size--sm {
    font-size: var(--sub-font-size);
}

.font-color--white {
    color: var(--subfont-color);
}

.extra--weight {
    font-weight: 500;
}

/* ============================================ Admin-Dashboard-Nav ======================================================== */
.body--background--grey {
    background-color: var(--side-nav-background-color);
}

.admin-header {
    border: 1px solid var(--top-dashborad-border-color);
    overflow-y: auto;
    height: 100vh;
    width: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.admin-header-nav__ul > li {
    padding: 1em;
}

.nav-ul-heading--margin-top {
    margin-top: .5em;
    margin-bottom: .5em;
}

.logo {
    display: block;
    font-size: 1.5rem;
    
    padding: .9em;
    width: 100%;
}

.nav-ul-li__button {
    background-color: hsla(0, 0%, 95%, 0);
    transition: background-color 250ms ease-out;
    
    
    padding: .7em;
    text-align: left;
    margin-top: .4em;
    cursor: pointer;
    border: none;

    display: flex;
    align-items: center;
    justify-content: left;
    gap: .5em;
}

.nav-ul-li__button:hover {
    background-color: hsl(0, 0%, 93%);
}

.nav-btn__icon {
    width: 19px;
    height: 19px;
    color: blue;
}

.logo-divider {
    border-bottom: 1px solid var(--top-dashborad-border-color);
}

.logo-divider, .admin-main-dashboard-one__search, .admin-header {
    background-color: white;
}


/* ============================================ Admin-Dashboard ======================================================== */

.admin-main {
    height: 100vh;
    position: relative;
}

.admin-main__dashBoard-one {
    width: var(--content-fixed-width);
    margin-inline: auto;
    padding-left: 8em;
}

.pad--2em {
    padding: 1.6em;
}

.admin-main-dashboard__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--top-dashborad-border-color);
}

.admin-dashboard__profile > input {
    padding: .25em;
    border: none;
    background: none;
    width: 100%;
}


.admin-dashboard__profile {
    display: flex;
    gap: 1em;
}

.admin-dashboard-nav__ul {
    padding: 1em;
}

.admin-dashboard-nav__ul > li button {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 255, 0);
    color: hsla(240, 100%, 50%, 0);
    padding-bottom: 0;
    transition: padding-bottom .5s ease, color .5s ease;
    color: var(--subfont-color);
}

.admin-dashboard-nav__ul > li button:hover {
    padding-bottom: .5em;
    border-bottom: 2px solid blue;
    color: hsla(234, 100%, 50%, 0.774);
}

/* ===================== actual dashboard ============================= */

.filter__btn {
    padding: .5em;
}

.dashboard-one__nav {
    width: var(--content-fixed-width);
    margin-inline: auto;
    width: 100%;
}


.admin-dashboard-section__one {
    margin: 1em auto;
    display: flex;
}

.admin-dashboard-section__one > .card {
    padding: 1em 2em;
}

.card-icon {
    border-radius: 50%;
    padding: .15em;
    font-weight: 800;
}

.admin-dashboard__went-up-stats {
    color: green;
}

.icon-color--blue {
    background-image: linear-gradient(hsl(216, 100%, 59%), hsl(240, 100%, 60%));
   
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 3px hsl(0, 0%, 9%);
}

.wraper {
    overflow-y: auto;
    height: 45vh;
}

.employees-section {
    margin: 1em auto;
}

.btn-styling--active {
    color: white;
    border-radius: .5em;
    background-image: linear-gradient(hsl(216, 100%, 59%), hsl(240, 100%, 60%));
    text-shadow: 1px 1px 5px black;
    transition: color .1s ease, background-image 1s ease;
}

.employees-section__add-btn {
    color: white;
    border-radius: 50%;
    background: linear-gradient(hsl(216, 100%, 59%), hsl(240, 100%, 60%));
    border: none;
 
    width: 3em;
    height: 3em;
    margin-inline: auto;
    
    display: grid;
    align-items: center;

    text-shadow: 1px 1px 4px black;
    cursor: pointer;
}

.table-product__image {
    width: 10em;
    height: 10em;
    display: block;
}

.ul--padding {
    padding: 1em; 
}

/* ============================================ Customer ===================================================== */